/config-devices.*
/config-all-devices.*
/config-all-disas.*
/config-host.*
/config-target.*
/config.status
/config-temp
/trace/generated-tracers.h
/trace/generated-tracers.c
/trace/generated-tracers-dtrace.h
/trace/generated-tracers.dtrace
/trace/generated-events.h
/trace/generated-events.c
/trace/generated-helpers-wrappers.h
/trace/generated-helpers.h
/trace/generated-helpers.c
/trace/generated-tcg-tracers.h
/trace/generated-ust-provider.h
/trace/generated-ust.c
/ui/shader/texture-blit-frag.h
/ui/shader/texture-blit-vert.h
*-timestamp
/*-softmmu
/*-darwin-user
/*-linux-user
/*-bsd-user
/ivshmem-client
/ivshmem-server
/libdis*
/libuser
/linux-headers/asm
/qga/qapi-generated
/qapi-generated
/qapi-types.[ch]
/qapi-visit.[ch]
/qapi-event.[ch]
/qmp-commands.h
/qmp-introspect.[ch]
/qmp-marshal.c
/qemu-doc.html
/qemu-tech.html
/qemu-doc.info
/qemu-tech.info
/qemu-img
/qemu-nbd
/qemu-options.def
/qemu-options.texi
/qemu-img-cmds.texi
/qemu-img-cmds.h
/qemu-io
/qemu-ga
/qemu-bridge-helper
/qemu-monitor.texi
/qemu-monitor-info.texi
/qmp-commands.txt
/vscclient
/fsdev/virtfs-proxy-helper
*.[1-9]
*.a
*.aux
*.cp
*.dvi
*.exe
*.msi
*.dll
*.so
*.mo
*.fn
*.ky
*.log
*.pdf
*.pod
*.cps
*.fns
*.kys
*.pg
*.pyc
*.toc
*.tp
*.vr
*.d
!/scripts/qemu-guest-agent/fsfreeze-hook.d
*.o
*.lo
*.la
*.pc
.libs
.sdk
*.gcda
*.gcno
/pc-bios/bios-pq/status
/pc-bios/vgabios-pq/status
/pc-bios/optionrom/linuxboot.asm
/pc-bios/optionrom/linuxboot.bin
/pc-bios/optionrom/linuxboot.raw
/pc-bios/optionrom/linuxboot.img
/pc-bios/optionrom/multiboot.asm
/pc-bios/optionrom/multiboot.bin
/pc-bios/optionrom/multiboot.raw
/pc-bios/optionrom/multiboot.img
/pc-bios/optionrom/kvmvapic.asm
/pc-bios/optionrom/kvmvapic.bin
/pc-bios/optionrom/kvmvapic.raw
/pc-bios/optionrom/kvmvapic.img
/pc-bios/s390-ccw/s390-ccw.elf
/pc-bios/s390-ccw/s390-ccw.img
.stgit-*
cscope.*
tags
TAGS
*~
roms/seabios/config.mak
roms/vgabios/config.mak
module_block.h
pc-bios/optionrom/linuxboot_dma.bin
pc-bios/optionrom/linuxboot_dma.img
pc-bios/optionrom/linuxboot_dma.raw
qemu-version.h
qemu-version.h.tmp
trace-events-all

.git-submodule-status
accel/kvm/trace.c
accel/kvm/trace.h
accel/tcg/trace.c
accel/tcg/trace.h
audio/trace.c
audio/trace.h
authz/trace.c
authz/trace.h
block/trace.c
block/trace.h
chardev/trace.c
chardev/trace.h
crypto/trace.c
crypto/trace.h
elf2dmp
hw/9pfs/trace.c
hw/9pfs/trace.h
hw/acpi/trace.c
hw/acpi/trace.h
hw/alpha/trace.c
hw/alpha/trace.h
hw/arm/trace.c
hw/arm/trace.h
hw/audio/trace.c
hw/audio/trace.h
hw/block/dataplane/trace.c
hw/block/dataplane/trace.h
hw/block/trace.c
hw/block/trace.h
hw/char/trace.c
hw/char/trace.h
hw/core/trace.c
hw/core/trace.h
hw/display/trace.c
hw/display/trace.h
hw/dma/trace.c
hw/dma/trace.h
hw/gpio/trace.c
hw/gpio/trace.h
hw/hppa/trace.c
hw/hppa/trace.h
hw/i2c/trace.c
hw/i2c/trace.h
hw/i386/trace.c
hw/i386/trace.h
hw/i386/xen/trace.c
hw/i386/xen/trace.h
hw/ide/trace.c
hw/ide/trace.h
hw/input/trace.c
hw/input/trace.h
hw/intc/trace.c
hw/intc/trace.h
hw/isa/trace.c
hw/isa/trace.h
hw/mem/trace.c
hw/mem/trace.h
hw/mips/trace.c
hw/mips/trace.h
hw/misc/macio/trace.c
hw/misc/macio/trace.h
hw/misc/trace.c
hw/misc/trace.h
hw/net/trace.c
hw/net/trace.h
hw/nvram/trace.c
hw/nvram/trace.h
hw/pci-host/trace.c
hw/pci-host/trace.h
hw/pci/trace.c
hw/pci/trace.h
hw/ppc/trace.c
hw/ppc/trace.h
hw/rdma/trace.c
hw/rdma/trace.h
hw/rdma/vmw/trace.c
hw/rdma/vmw/trace.h
hw/riscv/trace.c
hw/riscv/trace.h
hw/rtc/trace.c
hw/rtc/trace.h
hw/s390x/trace.c
hw/s390x/trace.h
hw/scsi/trace.c
hw/scsi/trace.h
hw/sd/trace.c
hw/sd/trace.h
hw/sparc/trace.c
hw/sparc/trace.h
hw/sparc64/trace.c
hw/sparc64/trace.h
hw/timer/trace.c
hw/timer/trace.h
hw/tpm/trace.c
hw/tpm/trace.h
hw/usb/trace.c
hw/usb/trace.h
hw/vfio/trace.c
hw/vfio/trace.h
hw/virtio/trace.c
hw/virtio/trace.h
hw/watchdog/trace.c
hw/watchdog/trace.h
hw/xen/trace.c
hw/xen/trace.h
io/trace.c
io/trace.h
migration/trace.c
migration/trace.h
monitor/trace.c
monitor/trace.h
nbd/trace.c
nbd/trace.h
net/trace.c
net/trace.h
pc-bios/edk2-aarch64-code.fd
pc-bios/edk2-arm-code.fd
pc-bios/edk2-arm-vars.fd
pc-bios/edk2-i386-code.fd
pc-bios/edk2-i386-secure-code.fd
pc-bios/edk2-i386-vars.fd
pc-bios/edk2-x86_64-code.fd
pc-bios/edk2-x86_64-secure-code.fd
pc-bios/optionrom/pvh.bin
pc-bios/optionrom/pvh.img
pc-bios/optionrom/pvh.raw
qapi/qapi-builtin-types.c
qapi/qapi-builtin-types.h
qapi/qapi-builtin-visit.c
qapi/qapi-builtin-visit.h
qapi/qapi-commands-audio.c
qapi/qapi-commands-audio.h
qapi/qapi-commands-authz.c
qapi/qapi-commands-authz.h
qapi/qapi-commands-block-core.c
qapi/qapi-commands-block-core.h
qapi/qapi-commands-block.c
qapi/qapi-commands-block.h
qapi/qapi-commands-char.c
qapi/qapi-commands-char.h
qapi/qapi-commands-common.c
qapi/qapi-commands-common.h
qapi/qapi-commands-crypto.c
qapi/qapi-commands-crypto.h
qapi/qapi-commands-dump.c
qapi/qapi-commands-dump.h
qapi/qapi-commands-error.c
qapi/qapi-commands-error.h
qapi/qapi-commands-introspect.c
qapi/qapi-commands-introspect.h
qapi/qapi-commands-job.c
qapi/qapi-commands-job.h
qapi/qapi-commands-machine-target.c
qapi/qapi-commands-machine-target.h
qapi/qapi-commands-machine.c
qapi/qapi-commands-machine.h
qapi/qapi-commands-migration.c
qapi/qapi-commands-migration.h
qapi/qapi-commands-misc-target.c
qapi/qapi-commands-misc-target.h
qapi/qapi-commands-misc.c
qapi/qapi-commands-misc.h
qapi/qapi-commands-net.c
qapi/qapi-commands-net.h
qapi/qapi-commands-qdev.c
qapi/qapi-commands-qdev.h
qapi/qapi-commands-qom.c
qapi/qapi-commands-qom.h
qapi/qapi-commands-rdma.c
qapi/qapi-commands-rdma.h
qapi/qapi-commands-rocker.c
qapi/qapi-commands-rocker.h
qapi/qapi-commands-run-state.c
qapi/qapi-commands-run-state.h
qapi/qapi-commands-sockets.c
qapi/qapi-commands-sockets.h
qapi/qapi-commands-tpm.c
qapi/qapi-commands-tpm.h
qapi/qapi-commands-trace.c
qapi/qapi-commands-trace.h
qapi/qapi-commands-transaction.c
qapi/qapi-commands-transaction.h
qapi/qapi-commands-ui.c
qapi/qapi-commands-ui.h
qapi/qapi-commands.c
qapi/qapi-commands.h
qapi/qapi-doc.texi
qapi/qapi-emit-events.c
qapi/qapi-emit-events.h
qapi/qapi-events-audio.c
qapi/qapi-events-audio.h
qapi/qapi-events-authz.c
qapi/qapi-events-authz.h
qapi/qapi-events-block-core.c
qapi/qapi-events-block-core.h
qapi/qapi-events-block.c
qapi/qapi-events-block.h
qapi/qapi-events-char.c
qapi/qapi-events-char.h
qapi/qapi-events-common.c
qapi/qapi-events-common.h
qapi/qapi-events-crypto.c
qapi/qapi-events-crypto.h
qapi/qapi-events-dump.c
qapi/qapi-events-dump.h
qapi/qapi-events-error.c
qapi/qapi-events-error.h
qapi/qapi-events-introspect.c
qapi/qapi-events-introspect.h
qapi/qapi-events-job.c
qapi/qapi-events-job.h
qapi/qapi-events-machine-target.c
qapi/qapi-events-machine-target.h
qapi/qapi-events-machine.c
qapi/qapi-events-machine.h
qapi/qapi-events-migration.c
qapi/qapi-events-migration.h
qapi/qapi-events-misc-target.c
qapi/qapi-events-misc-target.h
qapi/qapi-events-misc.c
qapi/qapi-events-misc.h
qapi/qapi-events-net.c
qapi/qapi-events-net.h
qapi/qapi-events-qdev.c
qapi/qapi-events-qdev.h
qapi/qapi-events-qom.c
qapi/qapi-events-qom.h
qapi/qapi-events-rdma.c
qapi/qapi-events-rdma.h
qapi/qapi-events-rocker.c
qapi/qapi-events-rocker.h
qapi/qapi-events-run-state.c
qapi/qapi-events-run-state.h
qapi/qapi-events-sockets.c
qapi/qapi-events-sockets.h
qapi/qapi-events-tpm.c
qapi/qapi-events-tpm.h
qapi/qapi-events-trace.c
qapi/qapi-events-trace.h
qapi/qapi-events-transaction.c
qapi/qapi-events-transaction.h
qapi/qapi-events-ui.c
qapi/qapi-events-ui.h
qapi/qapi-events.c
qapi/qapi-events.h
qapi/qapi-introspect.c
qapi/qapi-introspect.h
qapi/qapi-types-audio.c
qapi/qapi-types-audio.h
qapi/qapi-types-authz.c
qapi/qapi-types-authz.h
qapi/qapi-types-block-core.c
qapi/qapi-types-block-core.h
qapi/qapi-types-block.c
qapi/qapi-types-block.h
qapi/qapi-types-char.c
qapi/qapi-types-char.h
qapi/qapi-types-common.c
qapi/qapi-types-common.h
qapi/qapi-types-crypto.c
qapi/qapi-types-crypto.h
qapi/qapi-types-dump.c
qapi/qapi-types-dump.h
qapi/qapi-types-error.c
qapi/qapi-types-error.h
qapi/qapi-types-introspect.c
qapi/qapi-types-introspect.h
qapi/qapi-types-job.c
qapi/qapi-types-job.h
qapi/qapi-types-machine-target.c
qapi/qapi-types-machine-target.h
qapi/qapi-types-machine.c
qapi/qapi-types-machine.h
qapi/qapi-types-migration.c
qapi/qapi-types-migration.h
qapi/qapi-types-misc-target.c
qapi/qapi-types-misc-target.h
qapi/qapi-types-misc.c
qapi/qapi-types-misc.h
qapi/qapi-types-net.c
qapi/qapi-types-net.h
qapi/qapi-types-qdev.c
qapi/qapi-types-qdev.h
qapi/qapi-types-qom.c
qapi/qapi-types-qom.h
qapi/qapi-types-rdma.c
qapi/qapi-types-rdma.h
qapi/qapi-types-rocker.c
qapi/qapi-types-rocker.h
qapi/qapi-types-run-state.c
qapi/qapi-types-run-state.h
qapi/qapi-types-sockets.c
qapi/qapi-types-sockets.h
qapi/qapi-types-tpm.c
qapi/qapi-types-tpm.h
qapi/qapi-types-trace.c
qapi/qapi-types-trace.h
qapi/qapi-types-transaction.c
qapi/qapi-types-transaction.h
qapi/qapi-types-ui.c
qapi/qapi-types-ui.h
qapi/qapi-types.c
qapi/qapi-types.h
qapi/qapi-visit-audio.c
qapi/qapi-visit-audio.h
qapi/qapi-visit-authz.c
qapi/qapi-visit-authz.h
qapi/qapi-visit-block-core.c
qapi/qapi-visit-block-core.h
qapi/qapi-visit-block.c
qapi/qapi-visit-block.h
qapi/qapi-visit-char.c
qapi/qapi-visit-char.h
qapi/qapi-visit-common.c
qapi/qapi-visit-common.h
qapi/qapi-visit-crypto.c
qapi/qapi-visit-crypto.h
qapi/qapi-visit-dump.c
qapi/qapi-visit-dump.h
qapi/qapi-visit-error.c
qapi/qapi-visit-error.h
qapi/qapi-visit-introspect.c
qapi/qapi-visit-introspect.h
qapi/qapi-visit-job.c
qapi/qapi-visit-job.h
qapi/qapi-visit-machine-target.c
qapi/qapi-visit-machine-target.h
qapi/qapi-visit-machine.c
qapi/qapi-visit-machine.h
qapi/qapi-visit-migration.c
qapi/qapi-visit-migration.h
qapi/qapi-visit-misc-target.c
qapi/qapi-visit-misc-target.h
qapi/qapi-visit-misc.c
qapi/qapi-visit-misc.h
qapi/qapi-visit-net.c
qapi/qapi-visit-net.h
qapi/qapi-visit-qdev.c
qapi/qapi-visit-qdev.h
qapi/qapi-visit-qom.c
qapi/qapi-visit-qom.h
qapi/qapi-visit-rdma.c
qapi/qapi-visit-rdma.h
qapi/qapi-visit-rocker.c
qapi/qapi-visit-rocker.h
qapi/qapi-visit-run-state.c
qapi/qapi-visit-run-state.h
qapi/qapi-visit-sockets.c
qapi/qapi-visit-sockets.h
qapi/qapi-visit-tpm.c
qapi/qapi-visit-tpm.h
qapi/qapi-visit-trace.c
qapi/qapi-visit-trace.h
qapi/qapi-visit-transaction.c
qapi/qapi-visit-transaction.h
qapi/qapi-visit-ui.c
qapi/qapi-visit-ui.h
qapi/qapi-visit.c
qapi/qapi-visit.h
qapi/trace.c
qapi/trace.h
qemu-edid
qemu-keymap
qom/trace.c
qom/trace.h
scsi/qemu-pr-helper
scsi/trace.c
scsi/trace.h
target/arm/trace.c
target/arm/trace.h
target/hppa/trace.c
target/hppa/trace.h
target/i386/trace.c
target/i386/trace.h
target/mips/trace.c
target/mips/trace.h
target/ppc/trace.c
target/ppc/trace.h
target/riscv/trace.c
target/riscv/trace.h
target/s390x/trace.c
target/s390x/trace.h
target/sparc/trace.c
target/sparc/trace.h
trace-root.c
trace-root.h
ui/input-keymap-atset1-to-qcode.c
ui/input-keymap-linux-to-qcode.c
ui/input-keymap-osx-to-qcode.c
ui/input-keymap-qcode-to-atset1.c
ui/input-keymap-qcode-to-atset2.c
ui/input-keymap-qcode-to-atset3.c
ui/input-keymap-qcode-to-linux.c
ui/input-keymap-qcode-to-qnum.c
ui/input-keymap-qcode-to-sun.c
ui/input-keymap-qnum-to-qcode.c
ui/input-keymap-usb-to-qcode.c
ui/input-keymap-win32-to-qcode.c
ui/input-keymap-x11-to-qcode.c
ui/input-keymap-xorgevdev-to-qcode.c
ui/input-keymap-xorgkbd-to-qcode.c
ui/input-keymap-xorgxquartz-to-qcode.c
ui/input-keymap-xorgxwin-to-qcode.c
ui/trace.c
ui/trace.h
util/trace.c
util/trace.h
vhost-user-input
